@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(239, 246, 255, 0.5);
}

body::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  @apply bg-gray-400;
  border-radius: 20px; /* roundness of the scroll thumb */ /* creates padding around scroll thumb */
}

.font-title {
  font-family: "Edu NSW ACT Foundation", cursive;
}

.container {
  max-width: 1120px;
}
.modal {
  background: rgba(9, 28, 82, 0.541);;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  top: 0;
}

.homePageContainer {
  max-width: 700px;
}
.topDp {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

@layer components {
  .centerXY {
    @apply flex items-center justify-center;
  }
  .centerY {
    @apply flex items-center;
  }
  .input {
    @apply w-full border bg-white border-gray-300 px-5 py-3 rounded outline-none focus:bg-white focus:border-blue-500;
  }
  .transitionClass {
    @apply transition-all duration-300;
  }
  .iconButton {
    @apply text-sm flex items-center gap-2 px-3 py-2 bg-gray-200 rounded-3xl;
  }
  .iconButtonSquare {
    @apply focus:border-blue-600;
  }
  .navGrid {
    @apply grid grid-cols-3;
  }
  .btn-red {
    @apply w-full bg-blue-600 text-white py-2 px-3 rounded;
  }
  .card {
    @apply shadow border bg-white border-gray-200 rounded-md;
  }
  .bubleOnHOver {
    @apply hover:scale-110 transition-all duration-300 hover:bg-blue-100 hover:text-blue-600;
  }
  .btnDisabled {
    @apply hover:scale-100 bg-gray-500;
  }
  .btnBlue {
    @apply bg-blue-100 py-1 px-3 rounded-full text-blue-600 hover:scale-110 transition-all duration-300;
  }
  .btnGray {
    @apply bg-gray-300 py-1 px-3 rounded-full text-gray-600 hover:scale-110 transition-all duration-300;
  }
  .hover {
    @apply hover:scale-110 transition-all duration-300;
  }
  .btnFade {
    @apply p-2 hover:bg-gray-500 rounded hover:text-white;
  }
}
