@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@1,700&display=swap");
html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #f1f1f1;
}

body::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  @apply bg-gray-400;
  border-radius: 20px; /* roundness of the scroll thumb */ /* creates padding around scroll thumb */
}

.font-title {
  font-family: "Finlandica", sans-serif;
}

.container {
  max-width: 1120px;
}
.modal {
  background: rgba(0, 0, 0, 0.7);
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  top: 0;
}

.homePageContainer {
  max-width: 700px;
}
.topDp {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

@layer components {
  .centerXY {
    @apply flex items-center justify-center;
  }
  .centerY {
    @apply flex items-center;
  }
  .input {
    @apply w-full border bg-gray-100 border-gray-300 px-5 py-3 rounded outline-none focus:bg-white focus:border-blue-500;
  }
  .transition {
    @apply transition-all duration-300;
  }
  .iconButton {
    @apply text-sm flex items-center gap-2 px-2 py-1 bg-gray-200 rounded-3xl;
  }
  .iconButtonSquare {
    @apply focus:border-red-600;
  }
  .navGrid {
    @apply grid grid-cols-3;
  }
  .btn-red {
    @apply w-full bg-red-600 text-white p-2 rounded;
  }
  .card {
    @apply shadow border bg-white border-gray-200 rounded-md;
  }
}
